 * {
     margin: 0;
     padding: 0;
    /*  box-sizing: border-box; */
 }

 @import 'sass/colors';
 @import 'sass/typography';

 body {
     width: 100%;
     background: url("../img/bg_banner.jpg");
     background-color: $white-ligh;
     height: auto;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 640px;
     color: $white-normal;
 }

 @import 'sass/spacing';
 @import 'sass/layout';