$orange-dark: #E9881B;
$orange-normal: #FF9521;
$orange-ligh: #FFAE4C;

$black-dark: #191919;
$black-normal: #222222;
$black-ligh: #333333;

$white-dark: #E6E6E6;
$white-normal: #F2F2F2;
$white-ligh: #FFFFFF;