// CONTAINER

.container {
    max-width: 1224px;
    margin: 0 auto;
    padding: 12px;
    /* border: 1px solid red; */
}

// NAV
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

.nome {
    margin: 0 8px 0 8px;
}

.nav-list {
    display: flex;
}

.nav-list li a {
    color: $white-normal;
    margin: 0 8px 0 8px;
    transition: .5s ease;

    &:hover {
        color: $orange-ligh;
    }
}

// BANNER
.banner {
    height: 521px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.banner div {
    padding: 12px;
}

//SECTION SOBRE
.sobre {
    display: flex;
    align-items: center;
    color: $black-ligh;
    text-align: center;
}
.sobre div{
    padding: 0 12px;
}

//SECTION VÍDEO
.video{
    display: flex;
    padding: 0 12px;
}

.video iframe{
    flex: 1;
    width: 100%;
    height: auto;
}