// CONTAINER

.container {
    max-width: 1224px;
    margin: 0 auto;
    padding: 12px;
}

// NAV
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

.nome {
    margin: 0 8px 0 8px;
}

.nav-list {
    display: flex;
}

.nav-list li a {
    color: $white-normal;
    margin: 0 8px 0 8px;
    transition: .5s ease;

    &:hover {
        color: $orange-ligh;
    }
}

// BANNER
.banner {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

/* // LOSANGO
.losango {
    display: flex;
    width: 8px;
    height: 8px;
    background: #ccc;
    margin-top: 8px;
    margin-left: 8px;
    transform: rotate(-45deg);
}

.losango-horizontal {
    display: flex;
} */